@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body{
    background-color: #4A4A4A;
    font-family: 'Oswald', sans-serif;
    
    #bgimg{
        background-image: url("../images/cinema.jpg");
        background-size: cover;
        mix-blend-mode: color-dodge;
        z-index: -10;
    }

    .navigation{
        background-color: #3e3e3e;
        position: absolute;
        z-index: 20;

        #logo{
            span{
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &.GrayText{
                    color: #838383;
                    font-size: 4rem;
                    font-weight: 700;
                }
                &.RedText{
                    color: #FF375B;
                    font-size: 4rem;
                    font-weight: 700;
                }
            }
        }
        .nav-links{
            align-self: center;
            ul{
                list-style: none;
                
                li {
                    float: left;

                    a {
                        display: block;
                        font-size: 2rem;
                        text-decoration: none;
                        color: white;

                    }
                    a.CTA{
                        background-color: #FF375B;
                        border-radius: 5px;
                        padding: .25rem 2rem;
                    }
                }
            }
        }
    }

}